html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #2d2d37;
  margin: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

#logo {
  display: block;
  max-width: 700px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  path {
    transform-origin: 50%;
  }
  
  &.run-animation {
    #co-path {
      transform: translateX(28px);
      animation: co-animation-2 600ms;
      animation-delay: 1.2s;
      animation-fill-mode: forwards;

      path {
        animation: co-animation 1.2s;
        stroke-dasharray: 110;
      }
    }

    #bi-path path {
      opacity: 0;
      transform: translateX(-25px);
      animation: bi-animation 900ms;
      animation-delay: 1.4s;
      animation-fill-mode: forwards;
      
      &:nth-child(1) {
        animation-delay: 1.8s;
      }
    }
  }
}

@keyframes co-animation {
  0% {
    stroke-dashoffset: 110;
    transform: rotate(50deg);
  }
  100% {
    stroke-dashoffset: 220;
    transform: rotate(0deg);
  }
}
@keyframes co-animation-2 {
  to {
    transform: translateX(0);
  }
}

@keyframes bi-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}